img{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    transition: tranform 0.8s;
}
img:hover{
    opacity: 1;
    transform: scale(1.2);
    border: 1px solid white;
}
.gallery-img {
  width: 100%;
  height: 250px;        
  object-fit: cover;  
}
